.full-size {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

body {
  background-color: #48c;
}

.menu {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;

  .button {
    background-color: black;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    padding: 4px;
    -webkit-user-select: none;
  }
}

.surface-container {
  .full-size;
  text-align: center;

  .surface {
    display: inline-block;
    margin: 16px  auto;
    overflow: hidden;
    position: relative;

    .pixi-text {
      color: white;
      overflow: hidden;
      position: absolute;
      padding: 1px 4px;
      top: 0;
      left: 0;

      &.english {
        font-size: 18px;
        height: 20px;
        line-height: 20px;
      }

      &.hindi {
        font-size: 20px;
        height: 24px;
        line-height: 24px;
        min-width: 20px;

        &.character {
          font-size: 22px;
        }
      }

      &:after {
        .full-size;
        background-color: black;
        content: " ";
        z-index: -1;
      }
    }

    .dialog-wrapper {
      background-color: #001;
      border: 1px solid white;
      border-radius: 4px;
      margin: -4px auto 4px;
      padding: 2% 0;
    }

    .tilist {
      .full-size;
      cursor: none;

      .cursor {
        border: 2px solid black;
        position: absolute;
        z-index: 1;
      }
    }
  }
}
