@font-size: 12px;
@line-height: 18px;
@background-color: #48c;

body {
  background-color: @background-color;
}

.grid-container {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  position: absolute;
  text-align: center;

  .grid {
    display: inline-block;
    margin: @font-size/2 auto;

    .block {
      font-size: @font-size;
      line-height: @line-height;

      float: left;
      font-family: "Helvetica Neue", Helvetica, sans-serif;

      &.color0 {
        background-color: white;
        border: 1px solid gray;
        box-shadow: black 1px 1px;
      }

      &.color1 {
        background-color: none;
      }

      &.color2 {
        background-color: gray;
      }
    }

    .break {
      clear: both;
    }
  }
}
