@font-size: 12px;
@line-height: 18px;
@background-color: #48c;

body {
  background-color: @background-color;
}

.surface-container {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  position: absolute;
  text-align: center;

  .surface {
    background-color: white;
    display: inline-block;
    margin: 16px  auto;
    position: relative;

    height: 360px;
    width: 640px;

    .sprite {
      position: absolute;
    }
  }
}
