@ui-color: white;
@ui-background-color: #3c3c3c;
@ui-border: 1px solid @ui-color;
@ui-font-size: 12px;
@ui-element-margin: 6px;
@ui-line-margin: 4px 8px;
@ui-border-radius: 2px;

.ui-element {
  background-color: @ui-background-color;
  border: @ui-border;
  border-radius: @ui-border-radius;

  > .line {
    color: @ui-color;
    font-size: @ui-font-size;
    margin: @ui-line-margin;
  }
}

body {
  font-family: arial;
  margin: 0;
  padding: 0;
  background-color: #888;

  > .canvas-outer {
    margin: 16px auto;
    text-align: center;

    > .canvas-wrapper {
      display: inline-block;
      position: relative;
      text-align: left;

      > .top-wrapper, .status {
        position: absolute;
        left: 0;
        right: 0;
        margin: @ui-element-margin;
        z-index: 2;
      }

      > .status {
        bottom: 4px;
      }
    }
  }

  > .stdout-wrapper {
    /* display: none; */
    margin: 0 auto;
    width: 600px;
    height: 150px;

    > #stdout {
      height: 100%;
      width: 100%;

      display: block;
      border: none;
      margin: 0;
      padding: 0;

      background-color: black;
      color: white;
      font-family: 'Lucida Console', Monaco, monospace;
      outline: none;
    }
  }
}
