@mixin user-select($value) {
  user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  -webkit-user-select: $value;
}

.centered {
  text-align: center;
}

div.tty-map {
  background-color: black;
  cursor: default;
  display: inline-block;
  outline: none;
  @include user-select(none);

  > div.tile {
    display: inline-block;
    font-family: 'Courier New', Menlo, 'DejaVu Sans Mono', Courier, monospace;
    font-size: medium;
    font-weight: bold;

    &.light-gray {
      color: #aaa;
    }

    &.light-gray-inv {
      background-color: #aaa;
      color: black;
    }
  }
}
